.settings .setimgdivholder {
    width: fit-content;
}
.settings .setimagediv {
    position: relative;
    border-radius: 50%;   
}
.settings .setimage {
    max-width: 100%;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: 1px solid #C5C5C5;
}
.settings .editbtn {
    position: absolute;
    border: 1px solid #C5C5C5;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
    bottom: 18%;
    left: 85%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.settings .editbtn:hover {
    border-radius: 5px;
    width: 3.5rem;
    transition: 0.5s;
}
.settings .editpin {
    font-size: 1rem;
}
.settings .editbtn:hover .editpin {
    font-size: 0.8rem;
}
.settings .editword {
    display: none;
    transition: 0.8s;
}
.settings .editbtn:hover .editword {
    display: inline-block;
    transition: 0.8s;
}
.settings .setimageurl {
    position:absolute;
    bottom: 2.5rem;
    left: 1.5rem;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 5px 8px;
    width: 20rem;
    font-size: 13px;
}
@media (max-width: 385px) {
    .settings .setimageurl {
        left: 0.5rem;
        width: 15rem;
    }
}
@media (max-width: 280px) {
    .settings .setimageurl {
        left: 0rem;
        width: 12rem;
    }
}
.settings .setimageurl:focus {
    border: 1px solid #198553;
    outline: none;
}
.settings .settingscont {
    background-color: #F5F7F8;
    padding: 20px;
}
.settings .labels {
    margin-bottom: 2px;
    font-weight: bold;
}
.settings .confirm {
    font-size: 0.7rem;
    background-color: rgba(255, 174, 0, 0.705);
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
}
.settings .confirm:hover {
    background-color: rgb(255, 174, 0);
}
.settings .confirm:focus {
    box-shadow: none;
}
.settings .passfield {
    position: relative;
}
.settings .showpassword {
    position: absolute;
    bottom: 0.3rem;
    right: 0.6rem;
}
.settings .loading {
    width: 23px;
    height: 23px;
    margin: 0px 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading 1s linear infinite;
  }
  @keyframes loading {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.settings .addconfirm, .settings .addfillfields {
    display: block;
    text-align: left;
}
.settings .removeconfirm, .settings .removefillfields {
    display: none;
}
.settings .atention {
    border-bottom: 2px solid #DC356D;
}